.password-strength-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2, h3 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.strength-bar {
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.strength-level {
  height: 100%;
  transition: width 0.3s;
}

.faible {
  width: 25%;
  background-color: red;
}

.fair {
  width: 50%;
  background-color: orange;
}

.strong {
  width: 100%;
  background-color: green;
}

ul {
  margin-top: 20px;
}

ul li {
  margin: 5px 0;
}

strong {
  font-weight: bold;
}
