<div class="password-strength-container">
  <h2>Vérifiez la sécurité de votre mot de passe</h2>
  <p>
    Un mot de passe fort est essentiel pour protéger vos informations en ligne.
    Évitez d'utiliser des mots courants ou des informations personnelles.
    Combinez lettres majuscules, minuscules, chiffres et caractères spéciaux.
  </p>
  <label for="password">Entrez votre mot de passe :</label>
  <input id="password" [(ngModel)]="password" (input)="checkPasswordStrength()"
    placeholder="Entrez votre mot de passe" />

  <div *ngIf="password">
    <p>Force du mot de passe : <strong>{{ passwordStrength }}</strong></p>
    <p>Temps estimé pour cracker (10 000 tentatives par seconde) : <strong>{{ crackTime }}</strong></p>

    <div class="strength-bar">
      <div class="strength-level" [ngClass]="{ 'faible': score <= 1, 'fair': score === 2, 'strong': score >= 3 }">
      </div>
    </div>
  </div>

  <h3>Conseils pour un mot de passe sécurisé :</h3>
  <ul>
    <li>Utilisez au moins 12 caractères.</li>
    <li>Mélangez lettres, chiffres et symboles.</li>
    <li>Évitez les informations personnelles comme votre date de naissance.</li>
    <li>Changez vos mots de passe régulièrement.</li>
    <li>Evitez les mots du dictionnaire</li>
  </ul>

  <h3>Conseils pour protéger vos mots de passe :</h3>
  <ul>
    <li>Utilisez un mot de passe différent pour chaque service</li>
    <li>Activez l'authentification à deux facteurs lorsque c'est possible.</li>
  <ul>