<div class="desktop-container">
  <h1>Serious Game CyberSecurite</h1>
  <div class="app-grid">
    <div class="app-item" (click)="navigateToApp('email-app')">
      <img src="assets/icons/mail-icon.png" alt="Mail Icon" class="app-icon">
      <p>Boîte de réception</p>
    </div>
    <div class="app-item" (click)="navigateToApp('browser')">
      <img src="assets/icons/internet-icon.png" alt="Internet Icon" class="app-icon">
      <p>Navigateur</p>
    </div>
    <div class="app-item" (click)="navigateToApp('settings')">
      <img src="assets/icons/settings-icon.png" alt="Settings Icon" class="app-icon">
      <p>Paramètres</p>
    </div>
    <div class="app-item" (click)="navigateToApp('help')">
      <img src="assets/icons/help-icon.png" alt="Help Icon" class="app-icon">
      <p>Aide</p>
    </div>
  </div>
</div>

