
  .desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    
  }

  h1 {
    font-size: 3em;
    color: #1a237e;
    margin-bottom: 20px;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .user-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .user-info h2 {
    font-size: 1.8em;
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .user-info .username {
    color: #007bff;
    font-weight: bold;
  }
  
  .user-info .points {
    font-size: 1.2em;
    color: #495057;
  }
  
  .user-info .points span {
    color: #28a745;
    font-weight: bold;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  

  .points span {
    font-weight: bold;
    color: #0d47a1;
  }

  .app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }

  .app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }

  .app-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

  .app-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .app-item p {
    font-size: 1.2em;
    color: #1a237e;
    font-weight: bold;
    margin: 0;
  }

  .button-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }

  .reinitialize-button, .logout-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .reinitialize-button {
    background-color: #81d4fa;
    color: #01579b;
  }

  .reinitialize-button:hover {
    background-color: #29b6f6;
  }

  .logout-button {
    background-color: #ef9a9a;
    color: #b71c1c;
  }

  .admin-button{
    background-color: #81d4fa;
    color: #01579b;
  }

  .logout-button:hover {
    background-color: #e57373;
  }

  .loading-spinner {
    font-size: 1.2em;
    color: #616161;
  }

  .error-message {
    color: #d32f2f;
    font-size: 1em;
    margin: 20px 0;
  }
