<div class="desktop-container">
  <h1>Serious Game: CyberSécurité</h1>

  <!-- Informations utilisateur -->
  <div *ngIf="loading" class="loading-spinner">Chargement...</div>
  <div *ngIf="!loading && userInfo" class="user-info">
    <h2>Bienvenue, <span class="username">{{ userInfo.username }}</span>!</h2>
    <p class="points">Vous avez actuellement <span>{{ userInfo.points }}</span> points.</p>
  </div>  
  <div *ngIf="!loading && errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Applications -->
  <div class="app-grid" *ngIf="!loading && !errorMessage">
    <div class="app-item" (click)="navigateToApp('email-app')">
      <img src="assets/icons/mail-icon.png" alt="Mail Icon" class="app-icon">
      <p>Boîte de réception</p>
    </div>
    <div class="app-item" (click)="navigateToApp('browser')">
      <img src="assets/icons/internet-icon.png" alt="Internet Icon" class="app-icon">
      <p>Navigateur</p>
    </div>
    <div class="app-item" (click)="navigateToApp('password-checker')">
      <img src="assets/icons/password-icon.png" alt="Password security checker" class="app-icon">
      <p>Vérificateur de mots de passe</p>
    </div>
    <div class="app-item" (click)="navigateToApp('quizz')">
      <img src="assets/icons/quizz-icon.png" alt="Quiz Icon" class="app-icon">
      <p>Cyber-Quiz</p>
    </div>
    <div class="app-item" (click)="navigateToApp('wiki')">
      <img src="assets/icons/book.png" alt="Wiki Icon" class="app-icon">
      <p>Wiki</p>
    </div>
  </div>

  <!-- Boutons -->
  <div class="button-container">
    <button class="reinitialize-button" *ngIf="userInfo?.is_staff" (click)="reinitialiserPointsQuestion()">Réinitialiser les Points</button>
    <button class="logout-button" (click)="logout()">Se déconnecter</button>
    <button 
      class="admin-button" 
      *ngIf="userInfo?.is_staff" 
      onclick="window.location.href='https://apidjangoseriousgame-k333.onrender.com/admin/';">
      Page Admin
    </button>
  </div>
  
</div>