<div class="browser-container">
    <!-- Barre de navigation -->
    <div class="browser-toolbar">
      <div class="browser-circles">
        <span class="circle red" (click)="returnToBrowser()"></span>
        <span class="circle yellow"></span>
        <span class="circle green"></span>
      </div>
      <div class="browser-address">
        <div *ngIf="page">
            <p>{{ page.link }}</p>
        </div>
      </div>
    </div>
  
    <!-- Contenu principal -->
    <div *ngIf="page; else loading" class="page-details">
      <div class="page-details-container">
        <h2>{{ page.title }}</h2>
        <p><strong>Adresse URL :</strong> {{ page.link }}</p>
        <p><strong>Description :</strong> {{ page.snippet }}</p>
      </div>
      <button (click)="returnToBrowser()" class="btn btn-secondary">Retour à la liste des pages</button>
    </div>
  
    <ng-template #loading>
      <p class="loading-text">Chargement de la page...</p>
    </ng-template>
  </div>
  