<div class="email-viewer">
  <div class="email-details">
    <div *ngIf="email" class="email-details-container">
      <h2>{{ email.object }}</h2>
      <p><strong>De :</strong> {{ email.sender }}</p>
      <p><strong>Date :</strong> {{ email.date | date: 'short' }}</p>
      <div class="email-content" [innerHTML]="getSanitizedContent(email.content)"></div>
    </div>
    <p *ngIf="!email" class="loading">Chargement de l'email...</p>

    <div *ngIf="email && email.attachments.length > 0" class="attachments">
      <h3>Pièces jointes :</h3>
      <ul>
        <li *ngFor="let attachment of email.attachments">
          <a [href]="attachment.url" target="_blank">{{ attachment.name }}</a>
        </li>
      </ul>
    </div>

    <button (click)="returnToInbox()" class="btn btn-primary">Retour à la boîte de réception</button>
  </div>

  <div class="fishing-response">
    <button (click)="isFishing(false)" class="btn btn-secondary">Pas un phishing</button>
    <p class="fishing-response-text">Ce mail est-il un phishing ?</p>
    <button (click)="isFishing(true)" class="btn btn-secondary">Phishing</button>
  </div>
</div>
