/* Conteneur principal pour l'email */

.email-details {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  /* Conteneur du détail de l'email */
  .email-details-container {
    margin-bottom: 20px;
  }
  
  /* Titre du sujet de l'email */
  .email-details h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 10px;
  }
  
  /* Détails de l'expéditeur et de la date */
  .email-details p {
    font-size: 16px;
    color: #4a5568;
    margin: 8px 0;
  }
  
  /* Mise en gras de l'expéditeur et de la date */
  .email-details strong {
    color: #2d3748;
  }
  
  /* Section du contenu de l'email */
  .email-details p.content {
    font-size: 18px;
    line-height: 1.6;
    color: #2d3748;
    margin-bottom: 20px;
    white-space: pre-wrap; /* Gère le retour à la ligne dans le contenu */
  }
  
  /* Style pour le message de chargement */
  .email-details p.loading {
    font-size: 18px;
    text-align: center;
    color: #a0aec0;
    font-style: italic;
  }
  
  /* Section des pièces jointes */
  .email-details .attachments {
    margin-top: 20px;
    padding: 10px;
    background-color: #edf2f7;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
  }
  
  .email-details .attachments h3 {
    font-size: 20px;
    color: #2d3748;
    margin-bottom: 10px;
  }
  
  /* Liste des pièces jointes */
  .email-details ul {
    list-style: none;
    padding-left: 0;
  }
  
  .email-details li {
    font-size: 16px;
    color: #2d3748;
    margin: 5px 0;
  }
  
  /* Style du bouton de retour */
  .email-details button {
    background-color: #2b6cb0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-details button:hover {
    background-color: #2c5282;
  }
  
  .email-details button:focus {
    outline: none;
  }
  
  .fishing-response{
    display: flex;
    gap: 30%;
  }

